/* [ TokyoNight Colors ] */
@define-color bg #222436;
@define-color bg_opacity1 rgba(34, 36, 54, 0.3);
@define-color bg_opacity2 rgba(34, 36, 54, 0.8);
@define-color bg_highlight #2f334d;
@define-color fg_1 #c8d3f5;
@define-color fg_2 #828bb8;
@define-color black #444a73;
@define-color red #ff757f;
@define-color orange #ff966c;
@define-color yellow #ffc777;
@define-color green #c3e88d;
@define-color teal #4fd6be;
@define-color cyan #86e1fc;
@define-color blue #82aaff;
@define-color purple #fca7ea;
@define-color magenta #c099ff;

/* [ Kanagawa Colors ] */
/* @define-color bg #1f1f28; */
/* @define-color bg_opacity1 rgba(31, 31, 40, 0.3); */
/* @define-color bg_opacity2 rgba(31, 31, 40, 0.8); */
/* @define-color bg_highlight #1f1f28; */
/* @define-color fg_1 #dcd8ba; */
/* @define-color fg_2 #c8c093; */
/* @define-color black #16161d; */
/* @define-color red #c34043; */
/* @define-color orange        #ff966c; */
/* @define-color yellow #c0a36e; */
/* @define-color green #76946a; */
/* @define-color teal #4fd6be; */
/* @define-color cyan #6a9589; */
/* @define-color blue #7e9cd8; */
/* @define-color purple        #fca7ea; */
/* @define-color magenta #957fb8; */

* {
    border: none;
    border-radius: 10px;
    font-family: JetbrainsMono Nerd Font;
    font-size: 12pt;
    min-height: 0;
}

window#waybar {
    color: @fg_1;
    background: @bg_opacity1;
}

window#waybar.empty #window {
    background-color: transparent;
}

#workspaces {
    margin-left: 10px;
}

#workspaces button {
    margin: 5px;
    padding: 5px 10px;
    color: @fg_1;
    background-color: @bg_opacity2;
}

/* Hyprland active workspace */
#workspaces button.active {
    padding: 5px 10px;
    color: @bg;
    background-color: @blue;
}

/* Sway focused workspace */
#workspaces button.focused {
    padding: 5px 10px;
    color: @bg;
    background-color: @blue;
}

#window,
#custom-date,
#clock,
#battery,
#backlight,
#pulseaudio,
#network,
#tray {
    background-color: @bg_highlight;
    padding: 5px 10px;
    margin: 5px 0px;
}

#window {
    background-color: @bg_opacity2;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 10px;
}

#tray {
    background-color: @bg_highlight;
    padding: 5px 10px;
    margin: 5px 0px;
}

tray#waybar.empty #tray {
    background-color: transparent;
}

#custom-date {
    color: @blue;
}

#custom-power {
    color: @bg_highlight;
    background-color: @red;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    padding: 5px 10px;
}

#clock {
    color: @blue;
    margin-right: 10px;
}

#battery {
    color: @green;
}

#battery.charging,
#battery.plugged {
    background-color: @green;
    color: @bg_highlight;
}

#battery.warning:not(.charging) {
    background-color: @red;
    color: @bg_highlight;
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @bg_highlight;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#backlight {
    color: @fg_1;
}

#backlight.bright {
    background-color: @fg_1;
    color: @bg_highlight;
}

#network {
    color: @yellow;
}

#network.disconnected {
    background-color: @red;
    color: @bg_highlight;
}

#pulseaudio {
    color: @cyan;
}

#pulseaudio.muted {
    background-color: @cyan;
    color: @bg_highlight;
}
